<h1>
    Create Doctor
</h1>

<form method="post">
    <label>Id Hospital: </label>
    <input type="number" name="id_hospital" class="form-control" />
    
    <label>Apellido :</label>
    <input type="text" name="apellido" class="form-control" />
    
    <label>Especialidad: </label>
    <input type="text" name="especialidad" class="form-control"/>
    
    <label>Salario: </label>
    <input type="number" name="salario" class="form-control" />
    
    <button class="btn btn-success">
        Crear
    </button>
</form>